<div class="how-to-wrap">
	<h1>User's Guide</h1>
	<hr>

	<div class="how-to-block">
		<h3>Step 1 : Sign in with Twitter</h3>
		<p>At the current stage of EmoChat, users are required to sign-in with their <%= link_to "Twitter", "http://twitter.com/" %> account.</p>
	</div>

	<div class="how-to-block">
		<h3>Step 2 : Take avatar photos using your webcam</h3>
		<p>First time users will be taken to a page to take avatar photos of different facial expressions. Follow the instructions on the screen and make a great face!</p>
	</div>

	<div class="how-to-block">
		<h3>Step 3 : Create a new chatroom, or search for an existing room</h3>
		<p>Once you've taken your avatar photos, now you're ready to emochat! Create a new room by entering the room name into the text field under "Create Chatroom", or you can enter the room name under "Search Chatroom" if you already know where you're heading. If you're here to join an existing chatroom, you can enter the room name directly into the url field after "/chatrooms/" (ex: "/chatrooms/room_name_here").</p>
	</div>

	<div class="how-to-block">
		<h3>Step 4 : Start chatting!</h3>
		<p>Now you're all set to go! You can enter a message in the text field and click on "Send" to say something. Without any specifications, your avatar will default to your #happy expression. <span class="important">When you want to change your expression, add the hashtag of your preferred avatar at the end of the message (ex: "Stepped in dog poop this morning... #sad").</span></p>
	</div>

	<div class="how-to-block">
		<h3>Remarks</h3>
		<p>Some things to keep in mind. Chatrooms will only exist for 24 hours. You won't be able to come back in 2 days to laugh at the hilarious joke your friend made again. You will be able to view the chatrooms you've entered on your <%= link_to "account page", "/chatrooms" %>, along with how much time is remaining for each room. Have fun!</p>
	</div>
</div>