<div class="center">
	<h1>Welcome to EmoChat.io</h1>

	<% if signed_in? %>
		<%= link_to "Start Chatting!", chatrooms_path %>
	<% else %>
		<span class="left"><%= link_to image_tag('twitter_logo.png'), "/auth/twitter" %></span>
		<span class="right"><%= link_to image_tag('google_logo.png'), "/auth/google_oauth2" %></span>
	<% end %>

	<div class="welcome-logo">
		<%= image_tag('logo.png') %>
	</div>
</div>