body {
  background-color: #f5f5f5;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

.chat-box {
  height: 400px;
  width: 100%;
  background-color: white;
  padding: 20px;
  overflow: scroll;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.message-box {
  width: 600px;
  margin: 10px 0 10px 0;
  font-size: 14px;
  border: solid 1px lightgray;
  font-family: 'Helvetica';
  p {
    margin: 0;
    padding: 10px 5px 10px 5px;
  }
}

.left {
  float: left;
  text-align: left;
}
.right {
  float: right;
  text-align: right;
}
