.how-to-wrap {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 40px;
}

.how-to-block {
	margin: 30px 0 30px 0;
	h3 { margin-bottom: 10px; }
	.important { color: red; }
}