.clear {
	clear: both;
}

.photo-left {
	width: 300px;
	float: left;
	margin-right: 20px;
	#player {
		width: 171px;
		height: 128px;
		background-color: lightgray;
		padding: 5px;
	}
	#canvas {
		width: 171px;
		height: 128px;
		background: lightgray;
		padding: 5px;
	}
}

.photo-right {
	float: left;
	width: 620px;
	img {
		padding: 5px;
		background-color: lightgray;
	}
}

button {
	border: none;
	height: 30px;
	width: 100px;
	cursor: pointer;
}

.placeholders {
	border-radius: 50%;
}